<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- this allows us to store the base url independently of the code -->
		<add key="base_url" value="https://api.spotify.com/v1/"/>
		<add key="auth_token" value ="Bearer BQC4XexmuHdzQlbWvzf96Kll-zldqdvvvKY4r3CN5XIIjfHr52EmxUSHuYijMlNKkvLcQLAaznRWCvmvsdfuHRqmyyAL2LTvmzeT4AroEKIXlx0SXp239Fgyb376vOnlksASdzTkXNhGSK4sGQVpXUVqEwVF0w"/>
	</appSettings>
</configuration>
